@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?uzfq03");
  src: url("../fonts/icomoon.eot?uzfq03#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uzfq03") format("truetype"), url("../fonts/icomoon.woff?uzfq03") format("woff"), url("../fonts/icomoon.svg?uzfq03#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

.icon-envelope-o:before {
  content: "\f003"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-angle-double-up:before {
  content: "\f102"; }

.icon-angle-double-down:before {
  content: "\f103"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-mobile:before {
  content: "\f10b"; }

.icon-mobile-phone:before {
  content: "\f10b"; }

.og-grid {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.og-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px; }
  .og-grid li a:hover img {
    outline: 1px solid #000; }

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative; }

.og-grid li.og-expanded > a::after {
  bottom: -11px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #003a70;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px; }

.og-expander {
  position: absolute;
  background: #003a70;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden; }

.og-expander-inner {
  padding: 50px 30px;
  height: 100%; }

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.og-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative; }

.og-details {
  padding: 0 40px 0 20px; }

.og-fullimg {
  text-align: center; }

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%; }

.og-details h3 {
  font-weight: 600;
  font-size: 42px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
  color: #fff; }

.og-details p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px; }

.og-details a {
  border: none;
  background-color: transparent;
  padding: 0 24px;
  font-size: 22px;
  line-height: 40px;
  position: relative;
  color: #fff;
  z-index: 0;
  text-align: center;
  text-decoration: none;
  outline: none; }
  .og-details a:before {
    content: '';
    position: absolute;
    left: 0;
    top: -12px;
    width: 50%;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 4px;
    z-index: -1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-align: center; }
  .og-details a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #003a70;
    height: 30px;
    width: 88%;
    z-index: -1;
    -webkit-transition: .3s linear;
    transition: .3s linear; }
  .og-details a:hover:after {
    opacity: 0;
    background-color: #003a70; }
  .og-details a:hover {
    color: #fff; }
  .og-details a:hover::before {
    width: 100%;
    background-color: #003a70; }

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  -webkit-box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
          box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
          animation: loader 0.5s infinite ease-in-out both; }

@-webkit-keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    -webkit-box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
            box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    -webkit-box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
            box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }

@keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    -webkit-box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
            box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    -webkit-box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
            box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@media screen and (max-width: 830px) {
  .og-expander h3 {
    font-size: 26px; }

  .og-expander p {
    font-size: 13px; }

  .og-expander a {
    font-size: 12px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 14px; }
    .og-expander a::after {
      display: none; }
    .og-expander a::before {
      display: none; } }
@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none; }

  .og-details {
    float: none;
    width: 100%; }

  .og-expander-inner {
    padding: 50px 15px 15px; }

  .og-details {
    padding: 0 40px 0 5px; } }
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0; }
  html::after,
  body::after,
  ul::after,
  li::after,
  h1::after,
  h2::after,
  h3::after,
  h4::after,
  h5::after,
  h5::after,
  p::after {
    margin: 0;
    padding: 0; }
  html::before,
  body::before,
  ul::before,
  li::before,
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h5::before,
  p::before {
    margin: 0;
    padding: 0; }

a {
  text-decoration: none; }

ul,
li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .02em;
  font-size: 14px;
  line-height: 22px;
  color: #000; }

html {
  overflow-x: hidden;
  font-size: 10px; }

#toTop {
  z-index: 999;
  width: 50px;
  border: 1px solid #fff;
  height: 50px;
  font-size: 3rem;
  background-color: rgba(0, 58, 112, 0.7);
  border-radius: 2px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-family: "icomoon" !important;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  transition: .3s; }
  #toTop::after {
    content: '\f104';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-bottom: 2px; }
  #toTop:hover {
    background-color: #003a70; }

.call-button a {
  border: none;
  background-color: transparent;
  padding: 0 24px;
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  color: #003a70;
  z-index: 0;
  text-align: center;
  text-decoration: none;
  outline: none; }
  .call-button a:before {
    content: '';
    position: absolute;
    left: 0;
    top: -12px;
    width: 50%;
    height: 50px;
    border: 3px solid #003a70;
    border-radius: 4px;
    z-index: -1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-align: center; }
  .call-button a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    height: 30px;
    width: 88%;
    z-index: -1;
    -webkit-transition: .3s linear;
    transition: .3s linear; }
  .call-button a:hover:after {
    opacity: 0;
    background-color: #003a70; }
  .call-button a:hover {
    color: #fff; }
  .call-button a:hover::before {
    width: 100%;
    background-color: #003a70; }

.call-button-mobile a {
  border: 3px solid #003a70;
  color: #fff;
  background-color: #003a70;
  padding: 0 24px;
  display: block;
  height: 47px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  outline: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2); }

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block; }

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  float: left;
  display: block; }

.header {
  position: relative;
  height: 100vh;
  width: 100%; }

.sale {
  position: absolute;
  top: calc(10% + 90px);
  left: calc(5% + 70px);
  z-index: 5;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg); }
  .sale img {
    width: 300px; }

.header__slider {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-x: hidden; }

.slide {
  height: 100vh;
  width: 100%;
  outline: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slide .slide-content {
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    max-width: 400px;
    min-height: 100px;
    border-radius: 4px; }
    .slide .slide-content .sale-sticker {
      max-width: 100px; }
      .slide .slide-content .sale-sticker img {
        width: 100%;
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg); }
    .slide .slide-content .slide-content-text {
      padding-left: 15px;
      max-width: 260px; }
      .slide .slide-content .slide-content-text h2 {
        text-transform: uppercase; }
      .slide .slide-content .slide-content-text .line {
        width: 100%;
        height: 1px;
        border-radius: 1px;
        margin: 0 auto;
        background-color: #fff;
        margin: 8px 0; }
      .slide .slide-content .slide-content-text p {
        font-size: 18px;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .slide .slide-content .slide-content-text p span {
          font-size: 20px;
          padding: 0 8px; }

.slick-btn {
  position: absolute;
  top: 15vh;
  right: 0;
  z-index: 1;
  border: none;
  width: 70px;
  height: 70vh;
  background-color: transparent;
  font-family: "icomoon" !important;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .slick-btn:focus {
    outline: none; }
  .slick-btn:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    -webkit-filter: drop-shadow(0 0 1px #003a70);
            filter: drop-shadow(0 0 1px #003a70);
    font-size: 4rem;
    -webkit-transition: .3s;
    transition: .3s; }

.slick-btn:hover::before {
  color: #fff; }

.slick-prev {
  left: 0; }
  .slick-prev::before {
    content: '\f104';
    font-family: 'icomoon' !important; }

.slick-next::before {
  content: '\f105';
  font-family: 'icomoon' !important; }

.slick-dots {
  margin-top: -4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slick-dots li {
    z-index: 1; }
  .slick-dots li[class="slick-active"] button {
    background-color: #003a70; }
  .slick-dots button {
    border-radius: 50%;
    font-size: 0;
    width: 20px;
    height: 20px;
    margin: 6px;
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer; }

.menu {
  min-height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
  position: absolute;
  width: 100%; }
  .menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px; }
  .menu:hover {
    background-color: white; }

.call-button-menu a {
  border: 3px solid #003a70;
  padding: 0 24px;
  display: block;
  height: 47px;
  border-radius: 4px;
  font-size: 22px;
  line-height: 40px;
  position: relative;
  color: #003a70;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s; }
  .call-button-menu a:hover {
    color: #fff;
    background-color: #003a70;
    border: 3px solid #003a70; }

.menu__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__items ul a {
    display: block;
    margin: 0 5px;
    font-size: 2.2rem;
    color: #003a70;
    border-radius: 2px;
    padding: 6px 12px;
    -webkit-transition: .3s;
    transition: .3s; }
    .menu__items ul a:hover {
      text-decoration: none;
      color: #fff;
      background-color: #003a70; }

.logo img {
  max-height: 30px; }

.about__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .about__inner::before {
    content: '';
    background: url(../img/about-fon.jpg) no-repeat 50% 50%;
    background-size: cover;
    -webkit-filter: opacity(70%);
            filter: opacity(70%);
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 5%; }
  .about__inner::after {
    content: '1997 - н.в.';
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 15%; }

.about__inner-content {
  width: 50%;
  padding: 20px 35px;
  text-align: center;
  position: relative;
  color: #000;
  z-index: 0; }
  .about__inner-content h2 {
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 600; }
  .about__inner-content p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px; }
  .about__inner-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    -webkit-box-shadow: 0 0 10px #95a5a6;
            box-shadow: 0 0 10px #95a5a6; }

.schedule {
  text-align: center;
  font-size: 18px;
  padding: 50px 0;
  background-color: #003a70; }

.schedule__title h2 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff; }

.steps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  padding: 15px;
  background-color: #003a70;
  color: #fff;
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  position: relative; }
  .steps__box h2 {
    position: absolute;
    top: 60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 600;
    -webkit-transition: ease-in .3s;
    transition: ease-in .3s; }
  .steps__box:hover h2 {
    top: 0; }
  .steps__box p {
    line-height: 26px; }
  .steps__box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.1); }

.steps__content {
  padding: 20px 0; }

.steps__content p {
  height: 100%; }

.gallery {
  padding: 50px 0 0; }
  .gallery h2 {
    font-size: 28px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase; }

.sale-mark {
  position: relative; }
  .sale-mark::before {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 54px;
    background: url(../img/sale.png) no-repeat 50% 50%;
    background-size: cover;
    z-index: 1; }

.download {
  font-size: 16px;
  line-height: 22px;
  background: #0054a2 url(../img/download-fon.png) no-repeat 50% 50%;
  background-size: cover;
  color: #fff; }
  .download a {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    padding: 15px 25px;
    -webkit-transition: ease-in .3s;
    transition: ease-in .3s;
    text-decoration: none;
    font-size: 18px; }
    .download a:hover {
      border: 1px solid #003a70;
      background-color: #003a70;
      color: #fff;
      -webkit-box-shadow: 0 0 6px #02213f;
              box-shadow: 0 0 6px #02213f; }
  .download p {
    font-size: 20px;
    line-height: 22px;
    max-width: 70%;
    padding: 6px;
    border-radius: 4px;
    text-align: center; }
  .download .download-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px; }

.advantages {
  padding: 130px 0; }
  .advantages .advantages-title h2 {
    font-size: 28px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase; }
  .advantages .advantages-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    padding-top: 30px; }
    .advantages .advantages-inner .advantages-items {
      width: 33.33%;
      padding: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .advantages .advantages-inner .advantages-items .advantages-item {
        height: 155px;
        margin-bottom: 30px;
        width: 45%;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .advantages .advantages-inner .advantages-items .advantages-item img {
          height: 100%; }
      .advantages .advantages-inner .advantages-items .advantages-item-big {
        height: 340px;
        width: 100%; }
      .advantages .advantages-inner .advantages-items > div {
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .advantages .advantages-inner .advantages-left {
      height: 50%;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-flow: row-reverse wrap-reverse;
              flex-flow: row-reverse wrap-reverse; }
    .advantages .advantages-inner .advantages-middle .advantages-item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px; }
      .advantages .advantages-inner .advantages-middle .advantages-item:first-child ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 60%;
        font-size: 16px; }
        .advantages .advantages-inner .advantages-middle .advantages-item:first-child ul li span {
          display: inline-block;
          border: 6px solid transparent;
          border-right: 7px solid #003a70;
          margin-right: 8px; }
    .advantages .advantages-inner .advantages-right .advantages-item-big {
      background: url(../img/logo-white.png) no-repeat 50% 50%;
      background-size: contain;
      background-color: #003a70; }

.footer {
  background-color: #003a70;
  color: #fff;
  min-height: 80vh; }

.footer__inner {
  padding: 100px 0; }

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center; }
  .footer__top .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px; }
    .footer__top .logo img {
      max-height: 60px;
      margin-left: -21px; }
  .footer__top .find-us {
    margin-bottom: 15px; }
    .footer__top .find-us .find-us__title {
      font-size: 22px;
      font-weight: 600;
      margin: 25px 0 0; }

.geo,
.phone,
.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }
  .geo p,
  .phone p,
  .mail p {
    margin-right: 8px; }

.phone a {
  margin-left: 5px; }

.find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .find-us a {
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; }
    .find-us a:hover {
      text-decoration: underline; }

.i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mail p.i::before {
  font-size: 20px; }

.find-us {
  margin: 0 auto; }

.social-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-nets ul {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .social-nets ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 45px; }
      .social-nets ul li p {
        margin-left: 20px; }
      .social-nets ul li a {
        display: block;
        background-color: #95a5a6;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: relative;
        -webkit-transition: ease-in .2s;
        transition: ease-in .2s; }
        .social-nets ul li a img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }

.social-nets ul li a:hover {
  background-color: #a00c80; }

.footer__bottom-outer {
  border-top: 1px solid #b3b3b3; }

.footer__bottom {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__bottom a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 1px dotted transparent; }
    .footer__bottom a:hover {
      border-color: #fff; }

.politica,
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }

@media screen and (max-width: 1718px) {
  .download .download-inner {
    height: 400px; } }
@media screen and (max-width: 1372px) {
  .download .download-inner {
    height: 314px; } }
@media screen and (max-width: 1070px) {
  .download .download-inner {
    height: 250px; } }
@media screen and (max-width: 860px) {
  .download .download-inner {
    height: 196px; } }
@media screen and (max-width: 674px) {
  .download {
    background: #003a70; } }
@media screen and (max-width: 1199px) {
  .advantages {
    padding: 50px 0; }

  .menu__items,
  .call-button-menu,
  .slick-btn {
    display: none !important; }

  .slide .slide-content {
    margin-left: 20px; }

  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    padding: 0 15px;
    min-height: 60px; }
    .menu nav {
      min-height: 60px; }

  .logo img {
    min-height: 24px; }

  #toTop {
    background-color: #003a70; }

  a.icon-menu {
    color: #003a70;
    font-size: 20px;
    text-decoration: none; }

  .mobile-top {
    width: 100%; }
    .mobile-top div.mobile-top__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  #my-mmenu span.icon-mobile-phone {
    margin-right: 5px; }

  .call-button-mobile a {
    border: 1px solid #003a70;
    color: #003a70;
    background-color: #fff;
    font-size: 20px;
    height: 42px; }

  #toTop {
    width: 30px;
    height: 30px;
    left: 15px;
    bottom: 15px; }
    #toTop::before {
      font-size: 1.5rem; }
    #toTop::after {
      font-size: 1.5rem;
      padding-bottom: 0; }

  .slick-dots button {
    margin: 4px;
    width: 12px;
    height: 12px; }

  .about__inner::after {
    content: '1997 - н.в.';
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 5%; }

  .about__inner-content {
    min-width: 80%; }

  .toggle-button {
    top: 70px; }

  .item__content {
    display: none;
    min-width: 80%;
    max-height: 70%;
    border-radius: 4px;
    background-color: #fff;
    color: #003a70;
    padding: 12px;
    min-height: 16%;
    position: relative;
    top: 110px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
    .item__content h1 {
      font-size: 20px; }
    .item__content p {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 12px;
      border: none; }

  .call-button a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #003a70;
    background-color: #003a70;
    color: #fff; }
    .call-button a:after {
      display: none; }
    .call-button a::before {
      display: none; }

  .advantages .advantages-inner .advantages-left {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .advantages .advantages-inner .advantages-left .advantages-item {
      width: 155px; }

  .advantages .advantages-inner .advantages-right .advantages-item,
  .advantages .advantages-inner .advantages-middle .advantages-item {
    width: 155px; }

  .advantages .advantages-inner .advantages-middle .advantages-item.advantages-item-big {
    width: 100%; }

  .advantages .advantages-inner .advantages-items.advantages-middle {
    width: 40%; }

  .advantages .advantages-inner .advantages-items {
    width: 30%; }

  .steps__box:hover h2 {
    top: 60px; }

  .og-grid li a:hover img {
    outline: none; }

  .social-nets ul li a {
    background-color: #a00c80; }

  .footer__bottom a:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent; }

  .steps__box {
    margin-bottom: 20px; }
    .steps__box h2 {
      top: 0 !important; }

  .steps__box {
    min-height: 230px; }

  .footer {
    height: 100%; }
    .footer .footer__top {
      margin-bottom: 25px; }
      .footer .footer__top .find-us {
        margin: 0;
        margin-bottom: 15px; } }
@media screen and (max-width: 991px) {
  .header,
  .header__slider,
  .slide {
    height: 500px; }

  .header__slider,
  .about {
    margin-top: 60px; }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .download .download-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }

  .download p {
    max-width: 100%; }

  .advantages .advantages-inner .advantages-left {
    display: none; }

  .advantages .advantages-inner .advantages-items.advantages-middle {
    width: 53.5%; }

  .advantages .advantages-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (max-width: 767px) {
  .slide .slide-content {
    padding: 8px; }
    .slide .slide-content .slide-content-text h2 {
      font-size: 16px; }
    .slide .slide-content .slide-content-text p {
      font-size: 14px; }
      .slide .slide-content .slide-content-text p span {
        font-size: 16px; }

  .about__inner::before {
    display: none; }

  .about__inner::after {
    top: 2%; }

  .header .row .col-12 {
    padding: 0; }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
    min-height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .footer__inner {
    padding: 30px 0; }

  .advantages .advantages-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .advantages .advantages-inner .advantages-items {
    width: 80% !important; }

  .advantages .advantages-inner .advantages-right .advantages-item-big {
    height: 155px; }

  .advantages .advantages-inner .advantages-right .advantages-item {
    margin-bottom: 0;
    width: 46%; }

  .advantages .advantages-inner .advantages-middle .advantages-item:not(:first-child) {
    width: 46%; }

  .advantages .advantages-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media screen and (max-width: 610px) {
  .header,
  .header__slider,
  .slide {
    height: 350px; } }
@media screen and (max-width: 575px) {
  .about__inner::after {
    right: 10px; }

  .about__inner {
    min-height: 500px;
    margin: 60px 0 30px; }
    .about__inner::after {
      font-size: 20px; }

  .about__inner-content {
    padding: 16px; }
    .about__inner-content h2 {
      font-size: 18px; }
    .about__inner-content p {
      font-size: 14px; }

  .schedule__title h2 {
    font-size: 22px; }

  .download-inner p {
    font-size: 14px; }
  .download-inner a {
    padding: 10px 20px; }

  iframe {
    height: 280px; }

  .advantages-items.advantages-right,
  .advantages .advantages-inner .advantages-middle .advantages-item:not(:first-child) {
    display: none !important; }

  .advantages .advantages-inner .advantages-items {
    width: 100% !important; }

  .schedule__title h2,
  .gallery h2,
  .advantages .advantages-title h2 {
    font-size: 18px; }

  .schedule,
  .advantages {
    padding: 25px 0; }

  .gallery {
    padding: 25px 0 0; }

  .og-grid {
    padding: 15px 0 25px; }

  .advantages .advantages-inner {
    padding-top: 0; }

  .advantages .advantages-inner .advantages-items .advantages-item {
    margin-bottom: 0; }

  .advantages .advantages-inner .advantages-items .advantages-item-big {
    height: 270px; }

  .advantages .advantages-inner .advantages-middle .advantages-item:first-child ul {
    height: 85%; } }
@media screen and (max-width: 460px) {
  .header,
  .header__slider,
  .slide {
    height: 260px; }

  .slide .slide-content {
    margin-left: 0;
    max-width: 270px; }
    .slide .slide-content .slide-content-text h2 {
      font-size: 14px; }
    .slide .slide-content .slide-content-text p {
      font-size: 13px; }
      .slide .slide-content .slide-content-text p span {
        font-size: 14px; }

  .slick-dots button {
    width: 10px;
    height: 12px; }

  .advantages .advantages-inner .advantages-middle .advantages-item:first-child {
    padding: 5px; } }
@media screen and (max-width: 340px) {
  .politica,
  .developer {
    font-size: 12px; } }
@media screen and (min-width: 640px) {
  span.hit {
    display: none; } }
@media screen and (min-width: 1200px) {
  .mobile-top {
    display: none; } }
