html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0;
    padding: 0;

    &::after {
        margin: 0;
        padding: 0;
    }

    &::before {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .02em;
    font-size: 14px;
    line-height: 22px;
    color: $theme1;
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

#toTop {
    z-index: 999;
    width: 50px;
    border: 1px solid $theme2;
    height: 50px;
    font-size: 3rem;
    background-color: rgba($theme3, .7);
    border-radius: 2px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    color: $theme2;
    font-family: "icomoon" !important;
    transform: rotate(90deg);
    transition: .3s;

    &::after {
        content: '\f104';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 2px;
    }

    &:hover {
        background-color: rgba($theme3, 1);
    }
}

.call-button a {
    border: none;
    background-color: transparent;
    padding: 0 24px;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    color: $theme3;
    z-index: 0;
    text-align: center;
    text-decoration: none;
    outline: none;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -12px;
        width: 50%;
        height: 50px;
        border: 3px solid $theme3;
        border-radius: 4px;
        z-index: -1;
        transition: .3s ease-in-out;
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($theme2, 1);
        height: 30px;
        width: 88%;
        z-index: -1;
        transition: .3s linear;
    }

    &:hover:after {
        opacity: 0;
        background-color: $theme3;
    }

    &:hover {
        color: $theme2;
    }

    &:hover::before {
        width: 100%;
        background-color: $theme3;
    }
}

.call-button-mobile a {
    border: 3px solid $theme3;
    color: $theme2;
    background-color: $theme3;
    padding: 0 24px;
    display: block;
    height: 47px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    outline: none;
}