@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?cc91ls');
    src: url('../fonts/icomoon.eot?cc91ls#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?cc91ls') format('truetype'),
        url('../fonts/icomoon.woff?cc91ls') format('woff'),
        url('../fonts/icomoon.svg?cc91ls#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-up:before {
    content: "\f102";
}

.icon-angle-double-down:before {
    content: "\f103";
}

.icon-angle-left:before {
    content: "\f104";
}

.icon-angle-right:before {
    content: "\f105";
}




@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?iewfl3');
    src:  url('fonts/icomoon.eot?iewfl3#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?iewfl3') format('truetype'),
      url('fonts/icomoon.woff?iewfl3') format('woff'),
      url('fonts/icomoon.svg?iewfl3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
  
.icon-envelope-o:before {
    content: "\f003";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-mobile-phone:before {
    content: "\f10b";
}
  



  

