@media screen and (max-width: 1199px) {
    .menu nav {
        background-color: rgba($theme2, 1);
    }

    .menu__items,
    .call-button-menu {
        display: none;
    }

    .menu nav {
        justify-content: space-between;
        padding: 0 15px;
        min-height: 60px;
    }

    .logo img {
        min-height: 24px;
    }

    #toTop {
        background-color: rgba($theme3, 1);
    }

    a.icon-menu {
        color: $theme3;
        font-size: 20px;
        text-decoration: none;
    }

    .mobile-top {
        width: 100%;

        div.mobile-top__box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }

    #my-mmenu span.icon-mobile-phone {
        margin-right: 5px;
    }

    .call-button-mobile a {
        border: 1px solid $theme3;
        color: $theme3;
        background-color: $theme2;
        font-size: 20px;
        height: 42px;
    }

    .toggle-button,
    .slick-btn,
    #toTop {
        width: 30px;
        height: 30px;

        &::before {
            font-size: 1.5rem;
        }

        &::after {
            font-size: 1.5rem;
            padding-bottom: 0;
        }
    }

    .show-icon,
    .hide-icon {
        font-size: 1.5rem;
    }

    .slick-dots button {
        margin: 3px;
    }

    .slick-dots button {
        width: 12px;
        height: 12px;
    }

    .header__slider,
    .header__slider-item {
        height: 70vh;
    }

    .header {
        height: 70vh;

        div.header__slider {
            height: 100%;

        }
    }

    .about__inner::after {
        content: '1997 - н.в.';
        font-size: 26px;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 5%;
    }

    .about__inner-content {
        min-width: 80%;
    }

    .toggle-button {
        top: 70px;
    }

    .item__content {
        display: none;
        min-width: 80%;
        max-height: 70%;
        border-radius: 4px;
        background-color: #fff;
        color: #003a70;
        padding: 12px;
        min-height: 16%;
        position: relative;
        top: 110px;
        left: 50%;
        transform: translate(-50%);

        h1 {
            font-size: 20px;
        }

        p {
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 12px;
            border: none;
        }
    }


    .call-button a {
        display: block;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        border: 1px solid $theme3;
        background-color: $theme3;
        color: $theme2;

        &:after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .steps__box:hover h2 {
        top: 60px;
    }

    .og-grid li a:hover img {
        outline: none;
    }

    .social-nets ul li:nth-child(1) a {
        background-color: #007bff;
    }

    .social-nets ul li:nth-child(2) a {
        background-color: #DD4C39;
    }

    .social-nets ul li:nth-child(3) a {
        background-color: #a00c80;
    }

    .social-nets ul li:nth-child(4) a {
        background-color: #0056b3;
    }

    .footer__bottom a:hover {
        border: 1px solid $theme2;
        color: $theme2;
        background-color: transparent;
    }

    .download a {
        margin-top: 10px;
        background-color: $theme3;
        color: $theme2;

    }
}

@media screen and (max-width: 991px) {
    .footer__inner {
        flex-direction: column;

        // div.col-6 {
        //     max-width: 100%;
        // }
    }
}

@media screen and (max-width: 767px) {
    .about__inner::before {
        display: none;
    }

    .about__inner::after {
        top: 2%;
    }

    .slick-btn {
        display: none !important;
    }

    .header .row .col-12 {
        padding: 0;
    }

    .footer__top {
        min-height: 440px;
    }

    .footer__bottom {
        flex-direction: column;
        padding: 15px 0;
        min-height: 50px;
        justify-content: center;
        align-items: center;

        div.politica a,
        div.developer a {
            border: none;
            color: $theme4;
        }
    }
}

@media screen and (max-width: 420px) {
    .social-nets ul {
        justify-content: space-around;
        width: 80%;
    }
}

@media screen and (max-width: 575px) {
    .about__inner::after {
        right: 10px;
    }

    .about__inner {
        min-height: 500px;
        margin: 60px 0 30px;
    }

    .about__inner-content h2 {
        font-size: 22px;
    }

    .item__content {
        h1 {
            font-size: 18px;
            margin: 0 auto 10px;
        }
    }

    
}

@media screen and (min-width: 1200px) {
    .mobile-top {
        display: none;
    }
}