@media screen and (max-width: 1718px) {
    .download .download-inner {
        height: 400px;
    }
}

@media screen and (max-width: 1372px) {
    .download .download-inner {
        height: 314px;
    }
}

@media screen and (max-width: 1070px) {
    .download .download-inner {
        height: 250px;
    }
}

@media screen and (max-width: 860px) {
    .download .download-inner {
        height: 196px;
    }
}

@media screen and (max-width: 674px) {
    .download {
        background: $theme3;
    }
}

@media screen and (max-width: 1199px) {

    .advantages {
        padding: 50px 0;
    }

    .menu__items,
    .call-button-menu,
    .slick-btn {
        display: none !important;
    }

    .slide .slide-content {
        margin-left: 20px;
    }

    .menu {
        justify-content: space-between;
        background-color: rgba($theme2, 1);
        padding: 0 15px;
        min-height: 60px;
        nav {
            min-height: 60px;
        }
    }

    .logo img {
        min-height: 24px;
    }

    #toTop {
        background-color: rgba($theme3, 1);
    }

    a.icon-menu {
        color: $theme3;
        font-size: 20px;
        text-decoration: none;
    }

    .mobile-top {
        width: 100%;

        div.mobile-top__box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }

    #my-mmenu span.icon-mobile-phone {
        margin-right: 5px;
    }

    .call-button-mobile a {
        border: 1px solid $theme3;
        color: $theme3;
        background-color: $theme2;
        font-size: 20px;
        height: 42px;
    }

    #toTop {
        width: 30px;
        height: 30px;
        left: 15px;
        bottom: 15px;

        &::before {
            font-size: 1.5rem;
        }

        &::after {
            font-size: 1.5rem;
            padding-bottom: 0;
        }
    }

    .slick-dots button {
        margin: 4px;
        width: 12px;
        height: 12px;
    }

    .about__inner::after {
        content: '1997 - н.в.';
        font-size: 26px;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 5%;
    }

    .about__inner-content {
        min-width: 80%;
    }

    .toggle-button {
        top: 70px;
    }

    .item__content {
        display: none;
        min-width: 80%;
        max-height: 70%;
        border-radius: 4px;
        background-color: #fff;
        color: #003a70;
        padding: 12px;
        min-height: 16%;
        position: relative;
        top: 110px;
        left: 50%;
        transform: translate(-50%);

        h1 {
            font-size: 20px;
        }

        p {
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 12px;
            border: none;
        }
    }


    .call-button a {
        display: block;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        border: 1px solid $theme3;
        background-color: $theme3;
        color: $theme2;

        &:after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .advantages .advantages-inner .advantages-left {
        height: 100%;
        flex-direction: column;
        .advantages-item {
            width: 155px;
        }
    }

    .advantages .advantages-inner .advantages-right .advantages-item,
    .advantages .advantages-inner .advantages-middle .advantages-item {
        width: 155px;
    }

    .advantages .advantages-inner .advantages-middle .advantages-item.advantages-item-big {
        width: 100%;
    }

    .advantages .advantages-inner .advantages-items.advantages-middle {
        width: 40%;
    }

    .advantages .advantages-inner .advantages-items {
        width: 30%;
    }

    .steps__box:hover h2 {
        top: 60px;
    }

    .og-grid li a:hover img {
        outline: none;
    }

    .social-nets ul li a {
        background-color: #a00c80;
    }

    .footer__bottom a:hover {
        border: 1px solid $theme2;
        color: $theme2;
        background-color: transparent;
    }

    .steps__box {
        margin-bottom: 20px;

        h2 {
            top: 0 !important;
        }
    }

    .steps__box {
        min-height: 230px;
    }

    .footer {
        height: 100%;
        .footer__top  {
            margin-bottom: 25px;
            .find-us {
                margin: 0;
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .header,
    .header__slider,
    .slide {
        height: 500px;
    }
    .header__slider,
    .about {
        margin-top: 60px;
    }
    .footer__inner {
        flex-direction: column;
    }

    .download .download-inner {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .download p {
        max-width: 100%;
    }
    .advantages .advantages-inner .advantages-left {
        display: none;
    }
    .advantages .advantages-inner .advantages-items.advantages-middle {
        width: 53.5%;
    }
    .advantages .advantages-inner {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .slide .slide-content {
        padding: 8px;
        .slide-content-text h2 {
            font-size: 16px;
        }
        .slide-content-text p {
            font-size: 14px;
            span {
                font-size: 16px;
            }
        }
    }

    .about__inner::before {
        display: none;
    }

    .about__inner::after {
        top: 2%;
    }

    .header .row .col-12 {
        padding: 0;
    }

    .footer__bottom {
        flex-direction: column;
        padding: 15px 0;
        min-height: 50px;
        justify-content: center;
        align-items: center;
    }

    .advantages .advantages-inner {
        flex-direction: column-reverse;
    }

    .advantages .advantages-inner .advantages-items {
        width: 80% !important;
    }

    .advantages .advantages-inner .advantages-right .advantages-item-big {
        height: 155px;
    }

    .advantages .advantages-inner .advantages-right .advantages-item {
        margin-bottom: 0;
        width: 46%;
    }
    .advantages .advantages-inner .advantages-middle .advantages-item:not(:first-child) {
        width: 46%;
    }

    .advantages .advantages-inner {
        align-items: center;
    }
}

@media screen and (max-width: 610px) {
    .header,
    .header__slider,
    .slide {
        height: 350px;
    }
}

@media screen and (max-width: 575px) {
    .about__inner::after {
        right: 10px;
    }

    .about__inner {
        min-height: 500px;
        margin: 60px 0 30px;

        &::after {
            font-size: 20px;
        }
    }

    .about__inner-content {
        padding: 16px;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .schedule__title h2 {
        font-size: 22px;
    }

    .download-inner {
        p {
            font-size: 14px;
        }
        a {
            padding: 10px 20px;
        }
    }

    iframe {
        height: 280px;
    }

    .advantages-items.advantages-right,
    .advantages .advantages-inner .advantages-middle .advantages-item:not(:first-child) {
        display: none !important;
    }
    .advantages .advantages-inner .advantages-items {
        width: 100% !important;
    }

    .schedule__title h2,
    .gallery h2,
    .advantages .advantages-title h2 {
        font-size: 18px;
    }

    .schedule,
    .advantages {
        padding: 25px 0;
    }
    
    .gallery {
        padding: 25px 0 0;
    }

    .og-grid {
        padding: 15px 0 25px;
    }

    .advantages .advantages-inner {
        padding-top: 0;
    }

    .advantages .advantages-inner .advantages-items .advantages-item {
        margin-bottom: 0;
    }
    .advantages .advantages-inner .advantages-items .advantages-item-big {
        height: 270px;
    }

    .advantages .advantages-inner .advantages-middle .advantages-item:first-child ul {
        height: 85%;
    }
}

@media screen and (max-width: 460px) {
    .header,
    .header__slider,
    .slide {
        height: 260px;
    }
    .slide .slide-content {
        margin-left: 0;
        max-width: 270px;
        .slide-content-text h2 {
            font-size: 14px;
        }
        .slide-content-text p {
            font-size: 13px;
            span {
                font-size: 14px;
            }
        }
    }
    .slick-dots button {
        width: 10px;
        height: 12px;
    }
    .advantages .advantages-inner .advantages-middle .advantages-item:first-child {
        padding: 5px;
    }
}

@media screen and (max-width: 340px) {

    .politica,
    .developer {
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) {
    span.hit {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .mobile-top {
        display: none;
    }
}