@import 'fonts';
@import 'gallery';
@import 'defaults';
@import 'vars';



// header----------------------------------

.header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.sale {
    position: absolute;
    top: calc(10% + 90px);
    left: calc(5% + 70px);
    z-index: 5;
    transform: rotate(-15deg);

    img {
        width: 300px;
    }
}

.header__slider {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.slide {
    height: 100vh;
    width: 100%;
    outline: none;
    display: flex !important;
    align-items: center;

    .slide-content {
        margin-left: 80px;
        background-color: rgba($theme2, .3);
        color: $theme2;
        display: flex;
        align-items: center;
        padding: 20px;
        max-width: 400px;
        min-height: 100px;
        border-radius: 4px;

        .sale-sticker {
            max-width: 100px;

            img {
                width: 100%;
                transform: rotate(-15deg);
            }
        }

        .slide-content-text {
            padding-left: 15px;
            max-width: 260px;

            h2 {
                text-transform: uppercase;
            }

            .line {
                width: 100%;
                height: 1px;
                border-radius: 1px;
                margin: 0 auto;
                background-color: #fff;
                margin: 8px 0;
            }

            p {
                font-size: 18px;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;

                span {
                    font-size: 20px;
                    padding: 0 8px;
                }
            }
        }
    }
}

.slick-btn {
    position: absolute;
    top: 15vh;
    right: 0;
    z-index: 1;
    border: none;
    width: 70px;
    height: 70vh;
    background-color: transparent;
    font-family: "icomoon" !important;
    cursor: pointer;
    transition: .3s;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(#000, .2);
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $theme2;
        filter: drop-shadow(0 0 1px $theme3);
        font-size: 4rem;
        transition: .3s;
    }
}

.slick-btn:hover::before {
    color: $theme2;
}

.slick-prev {
    left: 0;

    &::before {
        content: '\f104';
        font-family: 'icomoon' !important;
    }
}

.slick-next::before {
    content: '\f105';
    font-family: 'icomoon' !important;
}

.slick-dots {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        z-index: 1;
    }

    li[class="slick-active"] button {
        background-color: $theme3;

    }

    button {
        border-radius: 50%;
        font-size: 0;
        width: 17px;
        height: 17px;
        margin: 6px;
        background-color: $theme2;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.menu {
    // z-index: 1;
    min-height: 80px;
    background-color: rgba($theme2, .3);
    transition: ease-in .3s;
    position: absolute;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;


    }

    &:hover {
        background-color: rgba($theme2, 1);
    }
}

.call-button-menu a,
.call-button-menu-mobile a {
    border: 1px solid $theme3;
    padding: 0 24px;
    display: block;
    height: 43px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 40px;
    position: relative;
    color: $theme3 !important;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: ease-in .3s;

    &:hover {
        color: $theme2 !important;
        background-color: $theme3 !important;
        border: 1px solid $theme3 !important;
        text-decoration: none !important;
    }
}

.menu__items ul {
    display: flex;

    a {
        display: block;
        margin: 0 5px;
        font-size: 2.2rem;
        color: $theme3;
        border-radius: 2px;
        padding: 6px 12px;
        transition: .3s;

        &:hover {
            text-decoration: none;
            color: $theme2;
            background-color: $theme3;
        }

    }
}

.logo img {
    max-height: 30px;
}

// header----------------------------------


// about----------------------------------


.about__inner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        background: url(../img/about-fon.jpg) no-repeat 50% 50%;
        background-size: cover;
        filter: opacity(70%);
        width: 50%;
        height: 90%;
        position: absolute;
        left: 0;
        top: 5%;
    }

    &::after {
        content: '1997 - н.в.';
        font-size: 5rem;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 15%;
    }
}

.about__inner-content {
    width: 50%;
    padding: 20px 35px;
    text-align: center;
    position: relative;
    color: $theme1;
    z-index: 0;

    h2 {
        margin-bottom: 15px;
        font-size: 3rem;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 10px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme2;
        z-index: -1;
        box-shadow: 0 0 10px #95a5a6;
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: $theme1;
    //     z-index: -2;
    //     transform: skew(2deg, 2deg);
    //     box-shadow: 0 0 8px $theme1;
    // }
}

// about----------------------------------

// schedule----------------------------------

.schedule {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
    background-color: $theme3;
}

.schedule__title h2 {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: $theme2;
}

.steps__box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 15px;
    background-color: $theme3;
    color: $theme2;
    box-shadow: 0 0 4px 4px rgba(#000, .2);
    position: relative;

    h2 {
        position: absolute;
        top: 60px;
        right: 20px;
        margin: 0;
        padding: 0;
        font-size: 5em;
        color: rgba($theme2, .1);
        font-weight: 600;
        transition: ease-in .3s;
    }

    &:hover h2 {
        top: 0;
    }

    p {
        line-height: 26px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba($neutral, .1);
    }
}

.steps__content {
    padding: 20px 0;
}


.steps__content {


    p {
        height: 100%;
    }


}

// &::after {
//     content: '';
//    
// }

// &::before {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     font-weight: 600;
//     font-size: 4em;
//     color: rgba($theme4, .9);

// }


// schedule----------------------------------

// gallery----------------------------------

.gallery {
    padding: 50px 0 0;

    h2 {
        font-size: 28px;
        padding: 10px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.sale-mark {
    position: relative;
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        content: 'sale';
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #e74c3c;
        box-shadow: 0 0 0 2px #fff, 0 0 0 5px #e74c3c;
        z-index: 1;
        transform: rotate(-15deg);
    }
}

.download {
    font-size: 16px;
    line-height: 22px;
    background: #0054a2   url(../img/download-fon.png) no-repeat 50% 50%;
    background-size: cover;
    color: $theme2;

    a {
        display: inline-block;
        background-color: transparent;
        border: 1px solid $theme2;
        color: $theme2;
        border-radius: 4px;
        padding: 15px 25px;
        transition: ease-in .3s;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            border: 1px solid $theme3;
            background-color: $theme3;
            color: $theme2;
            box-shadow: 0 0 6px #02213f;
        }
    }

    p {
        font-size: 20px;
        line-height: 22px;
        max-width: 70%;
        padding: 6px;
        border-radius: 4px;

        text-align: center;
    }

    .download-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 500px;
    }
}


// gallery---------------------------------

// advantages-wrap-------------------------

.advantages {
    padding: 130px 0;

    .advantages-title h2 {
        font-size: 28px;
        padding: 10px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }

    .advantages-inner {
        display: flex;
        flex-basis: 33.33%;
        padding-top: 30px;

        .advantages-items {
            width: 33.33%;
            padding: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .advantages-item {
                height: 155px;
                margin-bottom: 30px;
                width: 45%;
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                img {
                    height: 100%;
                }
            }
            .advantages-item-big {
                height: 340px;
                width: 100%;
            }
            &>div {
                box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            }
        }

        .advantages-left {
            height: 50%;
            align-self: flex-end;
            flex-flow: row-reverse wrap-reverse;
        }
        .advantages-middle .advantages-item:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60%;
                font-size: 16px;
                li span {
                    display: inline-block;
                    border: 6px solid transparent;
                    border-right: 7px solid $theme3;
                    margin-right: 8px;
                }
            }
        }
        .advantages-right .advantages-item-big {
            background: url(../img/logo-white.png) no-repeat 50% 50%;
            background-size: contain;
            background-color: $theme3;
        }
    }
}

// advantages-wrap-------------------------

// footer----------------------------------

.footer {
    background-color: $theme3;
    color: #fff;
    min-height: 80vh;
}

.footer__inner {
    padding: 100px 0;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-content: center;

    .logo {
        display: flex;
        // justify-content: center;
        margin-bottom: 15px;

        img {
            max-height: 60px;
            margin-left: -21px;
        }
    }

    .find-us {
        margin-bottom: 15px;

        .find-us__title {
            font-size: 22px;
            font-weight: 600;
            margin: 25px 0 0;
        }
    }
}

.geo,
.phone,
.mail {
    display: flex;
    align-items: center;
    margin-top: 20px;

    p {
        margin-right: 8px;

    }
}

.phone a {
    margin-left: 5px;
}

.find-us {
    display: flex;
    flex-direction: column;

    a {
        transition: .3s;
        color: $theme2;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.i {
    width: 30px;
    height: 30px;
    color: $theme2;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail p.i::before {
    font-size: 20px;
}

.social-nets {
    display: flex;

    ul {
        width: 60%;
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            height: 45px;

            p {
                margin-left: 20px;
            }

            a {
                display: block;
                background-color: #95a5a6;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: relative;
                transition: ease-in .2s;


                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }


    }
}

.social-nets ul li a:hover {
    background-color: #a00c80;
}

.footer__bottom-outer {
    border-top: 1px solid $neutral;
}

.footer__bottom {
    min-height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    a {
        margin-left: 10px;
        color: $theme2;
        text-decoration: none;
        transition: .3s;
        border-bottom: 1px dotted transparent;

        &:hover {
            border-color: $theme2;
        }
    }
}

.politica,
.developer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

// footer----------------------------------

.fancybox-button.fancybox-button--share {
    display: none;
}

.info-fancy  {
    padding-bottom: 15px;
    text-align: left;
}

@import 'media';