@import 'fonts';
@import 'vars';

// default styles

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0;
    padding: 0;

    &::after {
        margin: 0;
        padding: 0;
    }

    &::before {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .02em;
    font-size: 14px;
    line-height: 22px;
    color: $theme1;
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

#toTop {
    z-index: 999;
    width: 50px;
    
    height: 50px;
    font-size: 3rem;
    background-color: rgba($theme3, .7);
    border-radius: 2px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
    color: $theme2;
    font-family: "icomoon";
    transform: rotate(90deg);
    transition: .3s;

    &::after {
        content: '\f104';
        font-family: 'icomoon' !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 2px;
    }

    &:hover {
        background-color: rgba($theme3, 1);
    }
}

.call-button a {
    border: none;
    background-color: transparent;
    padding: 0 24px;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    color: $theme3;
    z-index: 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    outline: none;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -12px;
        width: 50%;
        height: 50px;
        border: 3px solid $theme3;
        border-radius: 4px;
        z-index: -1;
        transition: .3s ease-in-out;
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $theme2;
        height: 30px;
        width: 88%;
        z-index: -1;
        transition: .3s linear;
    }

    &:hover:after {
        opacity: 0;
        background-color: $theme3;
    }

    &:hover {
        color: $theme2;
    }

    &:hover::before {
        width: 100%;
        background-color: $theme3;
    }
}

// default styles

// header

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.header__slider {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.header__slider-item {
    background: url('../img/img-1.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    outline: none;
}

.item-1__content,
.item-2__content {
    display: none;
    width: 40%;
    border-radius: 4px;
    background-color: $theme2;
    color: $theme3;
    padding: 20px 30px;
    min-width: 20%;
    min-height: 16%;
    position: relative;
    top: 170px;
    left: 50%;
    transform: translate(-50%);

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        max-width: 60%;
        margin: 0 auto 20px;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        color: $theme2;
        background-color: $theme4;
        border-radius: 4px;
    }

    h2 {
        padding-bottom: 10px;
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 2rem;
        line-height: 2.9rem;
        margin-bottom: 25px;
        border-bottom: 1px solid $neutral;
        padding-bottom: 15px;
    }
}

.header__slider-item_2 {
    background: url('../img/img-2.jpg') no-repeat 50% 50%;
    background-size: cover;

    span.price {
        color: $theme4;
        font-size: 3rem;
    }
}

.item-1__content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 2.5rem;
        font-weight: 600;
    }

    span.price {
        color: $theme4;
        font-size: 3rem;
    }
}

.toggle-button {
    position: absolute;
    top: 103px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: $theme3;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $theme2;

    }
}

.toggle-button:hover .show-icon,
.toggle-button:hover .hide-icon {
    color: $theme3;
}

.show-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "icomoon";
    color: #fff;
    font-size: 2.5rem;
    transition: .3s;
}

.hide-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "icomoon";
    color: #fff;
    font-size: 2.5rem;
    transition: .3s;
}

.slick-btn {
    position: absolute;
    top: 47%;
    right: 38px;
    z-index: 1;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: $theme3;
    cursor: pointer;
    transition: .3s;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $theme2;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "icomoon";
        color: $theme2;
        font-size: 3rem;
        padding-bottom: 2px;
        transition: .3s;
    }
}

.slick-btn:hover::before {
    color: $theme3;
}

.slick-prev {
    left: 20px;

    &::before {
        content: '\f104';
        font-family: 'icomoon' !important;
    }
}

.slick-next::before {
    content: '\f105';
    font-family: 'icomoon' !important;
}

.slick-dots {
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        z-index: 1;
    }

    li[class="slick-active"] button {
        background-color: $theme2;
    }

    button {
        border-radius: 2px;
        font-size: 0;
        width: 20px;
        height: 20px;
        margin: 6px;
        background-color: $theme3;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.menu {
    z-index: 1;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        background-color: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.menu__items a {
    margin: 0 5px;
    font-size: 2.2rem;
    color: $theme3;
    border-radius: 2px;
    padding: 6px 12px;
    transition: .3s;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 0 2px rgba($theme3, $alpha: 1);
        background-color: $theme3;
        color: $theme2;
    }

    &:focus {
        box-shadow: 0 0 0 2px rgba($theme3, 1);
        color: $theme3;
        background-color: $theme2;
    }
}

.logo img {
    max-height: 30px;
}

// header


// about

// .about::after {
//     
// }

.about__inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        background: url('../img/about-fon.jpg') no-repeat 50% 50%;
        background-size: cover;
        filter: opacity(70%);
        width: 50%;
        height: 90%;
        position: absolute;
        left: 0;
        top: 5%;
    }

    &::after {
        content: '1997 - н.в.';
        font-size: 5rem;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 15%;
    }
}

.about__inner-content {
    width: 50%;
    padding: 20px 35px;
    text-align: center;
    position: relative;
    color: $theme1;
    z-index: 0;

    h2 {
        margin-bottom: 15px;
        font-size: 3rem;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 10px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme2;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme1;
        z-index: -2;
        transform: skew(2deg, 2deg);
        box-shadow: 0 0 8px $theme1;
    }


}




@import 'media';